{% extends "../cargogo/base_list.html" %} {% block customTitle %}车辆信息列表{% endblock %} {% block customTitle_h5 %}车辆信息列表{% endblock%} {% block search_option %}
<div class="input-group" style="margin-bottom: 10px">
	<span class="input-group-addon">车辆品牌:</span>
	<input type="text" name="brandName" class="form-control" value="{{queryModel.brandName}}" placeholder="请输入品牌">
</div>
<div class="input-group ml10" style="margin-bottom: 10px">
	<span class="input-group-addon">车辆型号:</span>
	<input type="text" name="model" class="form-control" value="{{queryModel.model}}" placeholder="请输入型号">
</div>
<div class="input-group ml10" style="margin-bottom: 10px">
	<span class="input-group-addon">车辆栏目:</span>
	<select class="form-control" name="rankId" id="status">
		<option value="">全部</option>
		{% for item in rankdata %}
		<option value="{{item.rankId}}" {% if item.rankId == queryModel.rankId %} selected {% else %} {% endif %}>{{item.rankName}}</option>
		{% endfor %}
	</select>
</div>
{% endblock %} {% block search_bt %}
<a onclick="submitSearch()" class="btn btn-primary btn-sm">
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索</a>
	{% if Btn['cargogo/caristration/sellcar'] %}
<a onclick="Opencardictionarie()" class="btn btn-primary btn-sm">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增字典车辆</a>
	{% endif %}
<a onclick="Reload()" class="btn btn-primary btn-sm">
	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新</a>
{% endblock %} {% block table_th %}
<th>编号</th>
<th>车行名称</th>
<th>品牌</th>
<th>型号</th>
<th>名称</th>
<th>裸车价</th>
<th>首付</th>
<th>月供</th>
<th>车辆栏目</th>
<th>库存</th>
<th>首页展示</th>
<th>车辆状态</th>
<th>操作</th>
{% endblock %} {% block table_body %} {% for item in pageInfo.records %}
<tr class="gradeX">
	<td>
		<input type="checkbox" name="ids" value="{{item.id}}" />
	</td>
	<td>{{pageInfo.size*(pageInfo.current-1)+loop.index}}</td>
	<td>车狗狗</td>
	<td>{{item.brandName}}</td>
	<td>{{item.model}}</td>
	<td>{{item.fullname}}</td>
	<td>{{item.price}}万</td>
	<td>{{item.downPayment}}万</td>
	<td>{{item.monthPay}}元</td>
	<td>{{item.rankName}}</td>
	<td>{{item.inventory}}</td>
	<td>{% if item.isPage=='1' %}
		<input class="switch-change switch-anim" data-rankId="{{item.rankId}}" value="{{item.id}}" onchange="checkNum($(this))" type="checkbox" checked> {% else %}
		<input class="switch-change switch-anim" data-rankId="{{item.rankId}}" value="{{item.id}}" onchange="checkNum($(this))" type="checkbox"> {% endif %}
	</td>
	<td>{% if item.status=='0'%}上架{% elif item.status=='1' %}下架{% else %}售罄{% endif %}</td>
	<td>
		{% if Btn['cargogo/caristration/selectone'] %}
		<a href="javascript:;" class="btn btn-primary btn-xs" onclick="Openselectone('{{item.id}}')">车辆明细</a>
		{% endif %}
		{% if Btn['cargogo/caristration/editcar'] %}
		<a href="javascript:;" class="btn btn-warning btn-xs" onclick="Editcar('{{item.id}}')">编辑</a>
		{% endif %}
		{% if Btn['cargogo/caristration/deletecar'] %}
		<a href="javascript:;" class="btn btn-danger btn-xs" onclick="Deletecar('{{item.id}}')">删除</a>
		{% endif %}
	</td>
</tr>
{% endfor %}
<script>
	function submitSearch() {
		$("#pageNum").val("1");
		document.forms[0].submit();
	}

	function Opencardictionarie() {
		layer.open({
			type: 2,
			title: '添加销售车辆',
			shadeClose: true,
			shade: 0.5,
			area: ['100%', '100%'],
			content: '/cargogo/caristration/sellcar' //iframe的url
		})
	}

	function Reload() {
		window.location.reload()
	}

	function Openselectone(id) {
		parent.addMenuTab('/cargogo/caristration/selectone?vehicleId=' + id+'&size=10&current=1', '车辆明细', '1')
	}

	function Editcar(id) {
		layer.open({
			type: 2,
			title: '添加销售车辆',
			shadeClose: true,
			shade: 0.5,
			area: ['70%', '90%'],
			content: '/cargogo/caristration/lookcarinfo?id=' + id //iframe的url
		})
		//parent.addMenuTab('/cargogo/caristration/lookcarinfo?id='+id,'编辑车辆','2')
	}

	function Deletecar(id) {
		layer.confirm('您确定要删除该车辆？', {
			btn: ['确定', '取消'] //按钮
		}, function() {
			$.ajax({
				type: "post",
				url: "/cargogo/caristration/deletecar",
				data: {
					id: id
				},
				async: true,
				success: function(res) {
					if(res.status == 0) {
						layer.msg(res.body.msg);
						
					} else {
						layer.msg(res.msg);
					}
				setTimeout(function() {
						window.location.reload();
					}, 1000)
				}
			});
		})
		
	}

	function checkNum(obj) {
		var changedata = {
			id: obj.val(),
			isPage: 0,
			rankId: obj.attr("data-rankId")
		}
		if(obj.prop('checked')) {
			console.log("选中");
			changedata.isPage = 1;
		} else {
			console.log("没选中");
			changedata.isPage = 0;
		}
		console.log(changedata);
		$.ajax({
			type: "post",
			url: "/cargogo/caristration/iscarinfoindex",
			async: true,
			data: changedata,
			success: function(res) {
				console.log(res)
				var isfirefox=false;
				if(res.status == 0) {
					layer.msg(res.body.msg);
				} else {
					layer.msg(res.msg);
					if (navigator.userAgent.indexOf('Firefox') >= 0) {
						isfirefox=true;
					} 
				}
				setTimeout(function(){
					window.location.reload();
					if(isfirefox){
						obj.removeAttr("checked");
					}
				},1000)
			},
			complete: function(res) {
				//console.log(res);
				//layer.msg(res.data.msg);
			}
		});
	}
</script>
{% endblock %}